/**
 * @name Michael Kaiser Blue Lock
 * @author Benjaabety
 * @version auto updates
 * @description Theme was created in generator https://vsthemes.org/generator/
 * @source https://vsthemes.org/en/skins/discord/32889-genshin-ganyu-3.html
 * @authorLink https://vsthemes.org/user/Benjaabety/
*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@100;300;400;500;700&display=swap');
@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/ServerColumns/ServerColumns.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://nyri4.github.io/Discolored/main.css');
:root {
  --background-image: url('https://i.imgur.com/OHStaWu.png');
  --background-image-blur: 0px;
  --background-image-size: cover;
  --background-image-position: center;
  --popout-modal-image: transparent;
  --popout-modal-blur: 0px;
  --popout-modal-size: cover;
  --popout-modal-position: center;
  --home-button-image: url('https://i.imgur.com/rAzycBK.png');
  --home-button-size: cover;
  --home-button-position: center;
  --serverlist-brightness: 0.6;
  --left-brightness: 0.6;
  --middle-brightness: 0.6;
  --right-brightness: 0;
  --popout-modal-brightness: 0.6;
  --gradient-primary:33, 33, 33;
  --gradient-secondary:102, 1, 1;
--link-colour: #400074;
  --scrollbar-colour: rgba(106, 1, 52, 0.582);
  --gradient-direction: 320deg;
  --font: Quicksand;
  --window-padding: 0px;
  --window-roundness: 0px;
  --update-notice-1: none;
  --columns: 1;
  --guildgap: 2;
  --aligndms: 0;
  --rs-small-spacing: 0px;
  --rs-medium-spacing: 0px;
  --rs-large-spacing: 0px;
  --rs-small-width: 2.5px;
  --rs-medium-width: 2.5px;
  --rs-large-width: 2px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #1ED883;
  --rs-idle-color: #EE9A0E;
  --rs-dnd-color: #F12222;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #6E29E4;
  --rs-phone-visible: block;
}
